@import "src/fonts/roboto/roboto.css";
@font-face {
    font-family: AvenirNext;
    src: url("src/fonts/Avenir Next.ttf");
}
@font-face {
    font-family: ronduit;
    src: url("src/fonts/RonduitCapitals-Light.otf");
}
@font-face {
    font-family: Bebas;
    src: url("src/fonts/BebasNeue Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: Bebas;
    src: url("src/fonts/BebasNeue Regular.otf");
    font-weight: normal;
}
@font-face {
    font-family: Graphik;
    src: url("src/fonts/GraphikLCG-Regular.otf");
}
@font-face {
    font-family: Calibri2;
    src: url("src/fonts/calibri1/calibri.ttf");
}
@font-face {
    font-family: helvetica;
    src: url("src/fonts/HelveticaNeue-Bold.ttf");
}
h1{
    font-size: 300%;
    font-family: Helvetica;
    font-weight: bolder;
    line-height: 125%;
}
h2{
    font-size: 250%;
    font-weight: bolder;
    font-family: Calibri2;
    line-height: 125%;
}
h3{
    font-size: 250%;
    font-weight: bold;
    font-family: Graphik;
    line-height: 125%;
}
h4{
    font-family: Graphik;
}
hr{
    margin-left: calc(50% - 20px);
    width: 40px;
    background-color: black;
    color: black;
    height: 4px;
}
li{
    font-family: Graphik;
}
body{
    width: 100%;
    margin: 0;
    min-width: 1275px;
    display: inline-block;
    font-family: Bebas;
}
nav{

    width: 100%;
    line-height: 75px;
    vertical-align: top;
    text-align: center;
    position: fixed;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    vertical-align: middle;
}
nav ul li{
    display: inline;
    padding: 0 15px 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
a:hover{
    cursor: pointer;
}
button{
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
}
button:hover, #submit:hover{
    cursor: pointer;
}


.welcome{
    display: table;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background: url("src/img/fon.webp") 0% 35% fixed;
    background-size: cover;
    position: relative;
}
.welcome_text{
    display: table-row;
    width: 100%;
    vertical-align: middle;
    position: relative;
}
.welcome_text h1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 60px;
    padding-bottom: 100px;
}
#round{
        border-radius: 50%;
        width: 100%;
}
/*#petrolhead{
    background: url("src/img/1.jpg") 50% 50%;
    background-size: cover;
}
#petrolhead .welcome_text{
    background: rgba(0,0,0,0.6);
}*/
#petrolhead h2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
}
article{
    background: url("src/img/asphalt.jpg") 100% 100% fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}
.crewman{
    display: block;
    padding: 150px 0 150px 0;
    margin: 0;
    background-color: white;
}
.face{
    display: inline-block;
    padding: 0 75px 0 150px;
    width: calc((100% - 453px) / 10 * 6);
}
img{
    width: 100%;
}
.ref{
    display: inline-block;
    padding: 0 150px 0 75px;
    width: calc((100% - 453px) / 10 * 4);
    vertical-align: top;
}
h2, h3, p{
    margin: 20px 0 20px 0;
}
h2{
    font-size: 300%;
}
h3{
    font-size: 200%;
}
p{
    font-size: 110%;
    font-family: Graphik;
}
.h{
    background-color: whitesmoke;
}
.h .face{
    padding: 0 150px 0 75px;
}
.h .ref{
    padding: 0 75px 0 150px;
}
.m{
    display: none;
}
button{
    font-size: 16px;
}


p{
    line-height: 150%;
    font-weight: 300;
    font-size: 20px !important;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    font-family: Roboto;
}

header{
    display: inline-block;
//background: rgb(0, 0, 0);
    color: white;
    position: fixed;
    top: 0;
    min-width: 900px;
    max-width: 100%;
//text-align: center;
    z-index: 10000;
    font-family: Roboto;
    font-weight: 900;
}
body{
    margin-top: 43px !important;
}
strike{
    color: red;
}
.scrollDown{
    position: absolute;
    bottom: 5vh;
    width: 60px;
    left: calc(50% - 30px);
}

@media all and (max-device-width: 1275px){
    article{
        background: url("src/img/asphalt_vert.jpg") 100% 100% fixed;
        background-size: cover;
        max-width: 100%;
    }
    .welcome{
        display: table;
        height: calc(100vh - 4cm);
        width: 100vw;
        min-height: calc(100vh - 4cm);
        min-width: 100%;
        max-width: 100%;
    }
    #sosaunders{
        background: url("src/img/Photo_original_114.jpg") center no-repeat !important;
        background-size: cover !important;
    }
    .welcome_text{
        display: table-row;
        width: 100%;
        vertical-align: middle;
    //background: rgba(0,0,0,0.6);
    //height: 100%;
    }
    .welcome_text h1{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
        font-size: 450%;
    }
    #petrolhead{
        background: url("src/img/1.jpg") 50% 50%;
        background-size: cover;
    }
    #petrolhead h2{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
    }
    .crewman{
        display: block;
        padding: 150px 0 150px 0;
        margin: 0;
        background-color: white;
    }
    .face{
        display: inline-block;
        margin: 50px 10% 25px 10%;
        padding: 0;
        width: 80%
    }
    img{
        width: 100%;
    }
    .ref{
        display: inline-block;
        padding: 10% 5% 25px 5%;
        width: 89%;
        vertical-align: top;
    }
    .crewman{
        display: none;
    }
    .m{
        display: block;
    }
    button{
        font-size: 1cm !important;
        padding: 5px 0;
    }


    p{
        width: 90%;
        margin: 5%;
        font-size: 1.2cm !important;
        line-height: 150% !important;
    }

    nav{
        text-align: left;
    }
    #MM_logo{
        margin-left: 1cm;
        max-height: 2cm;
        margin-top: 1cm;
        margin-bottom: 1cm;
    }
    #MM_contacts{
        text-align: center;
    }
    #MM_tel{
        padding-left: 0;
    }
    #MM_contacts {
        line-height: 1.6cm;
        height: 1.6cm;
        display: none;
    }

    #MM_bg {
        height: 4cm;
        display: inline-block;
        top: 0;
    }

    #MM_tel, #MM_mail {
        line-height: 1.6cm;
        font-size: 1cm;
    }
    body{
        padding-top: 4cm;
        margin-top: 0 !important;
        overflow-x: auto;
        min-width: 0 !important;
    }
    .mouse{
        display: none;
    }
    #head{
        min-height: calc(100vh - 4cm);
        max-height: calc(100vh - 4cm);
        height: calc(100vh - 4cm);
        background: url("src/img/drift site gift 2.jpg") 50% 50% no-repeat;
        background-size: cover;
    }
    .one{
        font-family: Helvetica !important;
        font-size: 2cm !important;
        font-weight: bolder !important;
        line-height: 125% !important;
        margin-left: 5%;
    }
    .two{
        font-size: 1.6cm !important;
        margin-left: 5%;
    }

    #MM_logo{
        margin-left: 1cm;
        max-height: 2cm;
        margin-top: 1cm;
        margin-bottom: 1cm;
        width: auto;
    }
    #mobile_menu{
        display: inline-block;
    }
    #callback{
        width: 100%;
        margin-right: 0;
    }



    #MM_contacts{
        display: none;
    }
    #MM_bg{
        display: block;
        background-color: #00202f;
        position: fixed;
        top: 0;
        z-index: -1;
        width: 100%;
        vertical-align: middle;
    }
    #mobile_menu{
        float: right;
        margin-right: 0.5cm;
    }
    #MM_logo{
        margin-left: 1cm;
        max-height: 2cm;
        margin-top: 1cm;
        margin-bottom: 1cm;
    }
    #mobile_menu{
        display: inline-block;
    }
    #mobile_menu img{
        height: 2cm;
        margin: 1cm 0.5cm;
        width: auto;
    }
    #mobile_menu_opener{
        margin-right: 1cm !important;
    }
    .scrollDown{
        position: absolute;
        bottom: 5vh;
        width: 4cm;
        left: calc(50% - 2cm);
    }
}